absl-py==2.5.0
astunparse==1.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.65.0
gast==0.7.0
google-pasta==0.2.0
grpcio==1.84.0
h5py==3.14.0
idna==3.20
imagehash==4.3.2
joblib==1.6.0
keras==3.15.1
kiwisolver==1.5.1
libclang==18.1.1
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
ml-dtypes==0.6.0
namex==0.1.0
narwhals==2.26.0
numpy==2.5.3
opencv-python-headless==5.0.0.93
opt-einsum==3.4.0
optree==0.20.0
packaging==26.3
pandas==3.0.6
pillow==12.3.0
protobuf==7.36.2
pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pywavelets==1.10.0
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.1
scipy==1.18.1
seaborn==0.13.2
setuptools==84.0.0
six==1.17.0
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.7.0
typing-extensions==4.16.0
urllib3==2.8.0
wheel==0.48.0
wrapt==2.4.1
